main {
    width: 960px;
    margin: 0 auto;
}

main table {
    border-collapse: separate;
    float: left;
    margin-left: 2em;
}

caption {
    font-weight: bold;
    font-size: xx-large;
}

table td {
    --size: 41px;
    width: var(--size);
    min-width: var(--size);
    max-width: var(--size);
    height: var(--size);
    min-height: var(--size);
    max-height: var(--size);
    border: 2px solid #B4B4FF;
    text-align: center;
}

.SHIP {
    border: 2px solid blue;
    background-color: rgba(0, 0, 255, 0.1);
}

.SHOT {
    border: 2px solid red;
    background-image: linear-gradient(to bottom right, transparent calc(50% - 1px), red, transparent calc(50% + 1px)), linear-gradient(to top right, transparent calc(50% - 1px), red, transparent calc(50% + 1px));
}

.WATER {
    background-image: radial-gradient(10px at center, blue 1%, white 99%);
}

table+table .NONE:hover {
    border: 2px solid green;
}

main .container {
    clear: both;
}

body>main>h1,
#message {
    text-align: center;
}