body {
    display: grid;
    grid-template-columns: 450px 450px;
    justify-content: center;
    gap: 20px;
}

caption {
    font-weight: bold;
    font-size: xx-large;
}

td {
    width: 34px;
    height: 34px;
    border: 2px solid #B4B4FF;
    text-align: center;
}

.ship,
.shot {
    border: 2px solid blue;
    background-color: rgba(0, 0, 255, 0.05);
}

.shot {
    background-image: linear-gradient(to bottom right, transparent calc(50% - 1px), red, transparent calc(50% + 1px)), linear-gradient(to top right, transparent calc(50% - 1px), red, transparent calc(50% + 1px));
    border: 2px solid red;
}

.water {
    background-image: radial-gradient(10px at center, blue 1%, white 99%);
}

table + table .none:hover {
    border: 2px solid green;
}

#message {
    text-align: center;
}